@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    @apply hidden;
}

.router-link-exact-active, .router-link-active {
    @apply bg-white text-dark-700 rounded-md;
}

a {
    @apply text-white;
}

.diver {
    height: 60px;
}

/* Main content */
.main-content {
    @apply retina:w-9/12 retinax2:w-6/12 2xl:w-9/12 md:w-full lg:w-11/12 md:mx-auto;
}

.user-img {
    width: 45px;
    height: 45px;
}

.admin-content .admin-heading .admin-header {
    @apply font-semibold text-dark-200 text-2xl xl:text-3xl 2xl:text-4xl;
}
