@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    @apply hidden;
}

.router-link-exact-active {
    @apply bg-white text-dark-700 rounded-md;
}

a {
    @apply text-white;
}

.diver {
    height: 60px;
}

/* Main content */
.main-content {
    @apply retina:w-1/2 retinax2:w-5/12 2xl:w-8/12 xl:w-9/12 md:w-11/12 md:mx-auto;
}

.user-img {
    width: 45px;
    height: 45px;
}
