@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
  @apply hidden;
}

/*
    TOP CONTENT
*/
.header-wrapper {
    @apply font-primary bg-hero-background bg-cover h-screen bg-center bg-fixed bg-no-repeat relative;
}

.navigation-wrapper {
    @apply px-5 py-6 flex justify-between items-center fixed w-full z-20 shadow-md;
}

.navigation-wrapper .nav-items {
    @apply mt-5 md:m-0 text-center;
}

.navigation-wrapper .nav-items .nav-item {
    @apply border-b border-white p-3 md:p-0 md:pr-7 md:text-xl md:inline-block md:border-none;
}

.navigation-wrapper .nav-items .nav-item .nav-link {
    @apply font-normal font-primary transition duration-300 ease-linear hover:border-b hover:border-accent-darken;
}

.navigation-wrapper .nav-items .nav-item:last-child {
    padding-right: 0;
}

.navigation-wrapper .nav-shown {
    @apply absolute top-0 right-0 w-screen py-2 font-primary font-normal
        bg-dark-700 z-10 h-screen md:relative text-white md:text-dark-700 md:w-auto md:h-full opacity-95 text-center md:text-left;
}

@media screen and (min-width: 768px) {
    .navigation-wrapper .nav-shown {
        background: none;
    }
}

.navigation-wrapper .nav-shown .closing-button {
    @apply flex justify-end p-3 text-white text-4xl md:hidden;
}

/* Socials */
.navigation-wrapper .socials {
    @apply md:flex justify-between items-center;
}

.navigation-wrapper .socials .social {
    @apply md:inline-block p-3 text-2xl cursor-pointer hover:text-accent transition duration-200 ease-in;
}

/* jumbotron */
.header-jumbotron {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-primary
}

.header-jumbotron .jumbotron-wrapper {
    @apply p-2 text-white;

    letter-spacing: 0.68px;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-profession {
    @apply font-medium text-4xl md:text-5xl lg:text-6xl retina:text-7xl text-center md:leading-extra-loose lg:leading-12;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-name {
    @apply font-semibold text-3xl md:text-4xl lg:text-5xl
        retina:text-6xl text-center md:leading-extra-loose lg:leading-12;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-motto {
    @apply italic font-light text-center md:text-right text-sm
    md:text-lg leading-loose md:leading-extra-loose capitalize;
}

/* Main content */
.main-content {
    @apply retina:w-1/2 retinax2:w-5/12 2xl:w-8/12 xl:w-9/12 md:w-11/12 md:mx-auto;
}

.main-content .main-section {
    @apply font-primary pt-7 md:pt-10
}

.showing-off {
    @apply mb-20 md:mb-0 mt-12 md:mt-20 w-full flex justify-evenly
        md:justify-between items-center flex-col md:flex-row text-center;
}

.showing-off .single-off {
    @apply border-b last:border-b-0 py-4 md:py-0 first:md:pr-6
        last:md:pr-0 border-dark-50 md:w-full md:border-b-0 md:border-r last:border-none
}

.showing-off .single-off .value {
    @apply font-medium text-5xl md:text-5xl;
}

.showing-off .single-off .name {
    @apply tracking-wide pt-2 font-medium text-sm;
}

.main-section .info .single-info {
    @apply py-4 border-b border-dirty-white;
}

.main-section .info .info-action .single-info-button {
    @apply p-3 rounded-full text-white bg-accent w-2/3 md:w-1/2 mx-auto
        font-medium uppercase flex text-center justify-evenly md:justify-center items-center block
        md:w-full transition duration-300 hover:bg-accent-darken ease-linear hover:shadow-md;
}

.main-section .projects {
    @apply px-3 pt-12 flex justify-evenly flex-col md:grid md:grid-cols-2 md:items-start  md:gap-2 lg:gap-3 retina:gap-6;
}

.main-section .projects .project .project-title .heading {
    @apply text-lg lg:text-xl text-dark-300 xl:text-2xl 2xl:text-3xl
        font-medium transition duration-300 ease-in hover:text-accent;
}

.main-section .projects .project .call-to-action .see-more {
    @apply text-right font-normal transition duration-200 p-2
        hover:bg-blured-accent rounded-md ease-linear  text-accent cursor-pointer;
}

.main-section .projects .project .project-socials .social {
    @apply text-xl lg:text-2xl cursor-pointer transition duration-300 hover:text-accent-darken;
}

.main-section .section-blog .blog-category {
    @apply mx-auto first:bg-accent-darken first:md:bg-red last:bg-red md:bg-accent-darken bg-accent-darken w-tile h-tile
    my-5 md:my-0 flex justify-center items-center rounded-md shadow-md text-white text-center transition duration-200 ease-linear hover:shadow-2xl;
}

.main-section .section-blog .blog-category:nth-child(2) {
    @apply bg-red md:bg-accent-darken;
}
