@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
  @apply hidden;
}

.material-padding {
    padding: 22px 21px 0 21px;
}

/*
    TOP CONTENT
*/
.header-wrapper {
    @apply font-primary bg-hero-background bg-cover h-screen bg-center bg-fixed bg-no-repeat relative;
}

.navigation-wrapper {
    @apply px-5 py-7 flex justify-between items-center;
}

.navigation-wrapper .nav-items {
    @apply mt-5 md:m-0 text-center;
}

.navigation-wrapper .nav-items .nav-item {
    @apply border-b border-white p-3 md:p-0 md:pr-7 md:text-xl md:inline-block md:border-none;
}

.navigation-wrapper .nav-items .nav-item .nav-link {
    @apply font-normal font-primary transition duration-300 ease-in;
}

.navigation-wrapper .nav-items .nav-item .nav-link:hover {
    @apply text-accent;
}

.navigation-wrapper .nav-items .nav-item:last-child {
    padding-right: 0;
}

.navigation-wrapper .nav-shown {
    @apply absolute top-0 right-0 w-screen py-2 font-primary font-normal
        bg-dark-700 z-10 h-screen text-white md:relative md:w-auto md:h-full opacity-95 text-center md:text-left;
}

@media screen and (min-width: 768px) {
    .navigation-wrapper .nav-shown {
        background: none;
    }
}

.navigation-wrapper .nav-shown .closing-button {
    @apply flex justify-end p-3 text-white text-4xl md:hidden;
}

/* Socials */
.navigation-wrapper .socials {
    @apply md:flex justify-between items-center;
}

.navigation-wrapper .socials .social {
    @apply md:inline-block p-3 text-white text-2xl;
}

/* jumbotron */
.header-jumbotron {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-primary
}

.header-jumbotron .jumbotron-wrapper {
    @apply p-2 text-white;

    letter-spacing: 0.68px;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-profession {
    @apply font-medium text-4xl md:text-5xl lg:text-6xl text-center md:leading-extra-loose lg:leading-12;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-name {
    @apply font-semibold text-3xl md:text-4xl lg:text-5xl text-center md:leading-extra-loose lg:leading-12;
}

.header-jumbotron .jumbotron-wrapper .jumbotron-motto {
    @apply italic font-light text-center md:text-right text-sm
    md:text-lg leading-loose md:leading-extra-loose capitalize;
}

/* Main content */
.main-content {
    @apply retina:w-1/2 retinax2:w-5/12 2xl:w-8/12 xl:w-9/12 md:w-11/12 md:mx-auto;
}

.main-content .main-section {
    @apply font-primary pt-7 md:pt-10
}

.main-section .info .single-info {
    @apply py-4 border-b border-dirty-white;
}

.main-section .info .info-action .single-info-button {
    @apply p-3 rounded-full text-white bg-accent w-2/3 md:w-1/2 mx-auto
        font-medium uppercase flex text-center justify-evenly md:justify-center items-center block
        md:w-full;
}

.main-section .projects {
    @apply px-3 pt-12 flex justify-evenly flex-col md:grid md:grid-cols-2 md:items-center md:gap-4 retina:gap-6;
}
